<form accept-charset="UTF-8" action="/addresses" class="inline" id="new_address" method="post">
  <div class='form-group amount'>
    <label for="amount">Amount</label>
    <div class="control-wrapper">
      <div class="input-group">
        <div class="input-group-addon">&</div>
        {{input type="text" class="form-control" id="amount" value=amount placeholder="5"}}
        <div class="input-group-addon">* 2000 bits</div>
      </div>
    </div>
    <div class="amount price">
      {{format-bits subtotal}}
    </div>
  </div>
  <div class='form-group address'>
    <label for="address_name">Address</label>
    <div class="control-wrapper">
      <div class="input-group">
        <div class="input-group-addon">&</div>
        {{input type="text" class="form-control" id="address" name="address" placeholder="emily"}}
        <div class="input-group-addon">20,000 bits</div>
      </div>
    </div>
    <div class="price">
        + 20,000 bits
    </div>
  </div>

  <div class="total">
    {{format-bits total}}
  </div>
  <div class="usd">
    <div class="tooltip right in" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        ({{bits-to-usd total}})
      </div>
    </div>
  </div>
  <button type="submit" class="checkout" type="submit" {{action 'createOrder'}} />
    <i class="fa fa-btc"></i>
  Checkout
  </button>
  </form>
