<div class="home">
  <div class="top">
    <div class="container">
      <h2>Ampercoin is a consumer friendly alternative to Bitcoin.</h2>
      <p>Here's what makes it different:</p>
      <ul>
        <li>Ampercoins are worth $1 USD each</li>
        <li>Easy to remember addresses eg. &emily</li>
        <li>A secure cloud based web wallet</li>
      </ul>
    </div>
  </div>
  <div class="container preorder">
    <div class="col-md-9">
      <h2 class="text-center">Preorder your Ampercoin address today</h2>
        <div>
          <form>
            <div class="form-group-lg">
              <div class="col-md-10">
                <div class="input-group">
                  <div class="input-group-addon">&amp;</div>
                  {{input type="text" class="form-control input-lg" id="address" name="address" value=address placeholder="bob"}}
                  </div>
                </div>
              </div>
              <button type="submit" class="checkout" type="submit" {{action 'createOrder'}}>
                <i class="fa fa-shopping-cart"></i>
              </button>
              <br>
              <div class="col-md-12 text-center">
                Addresses come preloaded with 10 Ampercoins each.
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-3 recent-purchases">
          <h4>Recent Purchases</h4>
          {{#each model}}
            <div class="purchase">
              <a {{bind-attr href=address}} target="_blank">&{{address}}</a> just now
            </div>
          {{/each}}
          <div>
            Only {{format-number accounts_remaining}} addresses left to preorder!
          </div>
        </div>
      </div>
      <div class="about container">
        <section>
          <article>
            <h2><i class="fa fa-certificate"></i>Stablity</h2>
            <p>The value of Ampercoin will be pegged to the value of the US
            Dollar. Ampercoin farmers will track exchange rates and adjust the
            supply of money accordingly.</p>
          </article>
          <article>
            <h2><i class="fa fa-thumbs-o-up"></i>&you</h2>
            <p>Ampercoin addresses are shorter and much easier to remember then bitcoin addresses. Just like you have the twitter handle @mason you could have an Ampercoin address &amp;mason.</p>
          </article>
          <article>
            <h2><i class="fa fa-leaf"></i>Green</h2>
            <p>Bitcoin is burning $15 million dollars worth of energy every day. Ampercoin is based on a different algorithm which will take very little energy to run.</p>
          </article>
        </section>
        <section>
          <h1>Technical Details</h1>
          <article>
            <h2><i class="fa fa-code"></i>Modern Stack</h2>
            <p>The Ampercoin reference client is written in Ruby on Rails. Ampercoin aims to be as simple as possible. Smart contracts/messaging/asset exchanges are all better suited for <a href="http://www.nxtcommunity.org/">NXT Coin</a>.</p>
          </article>
          <article>
            <h2><i class="fa fa-warning"></i>Under Construction</h2>
            <p>The <a target="_blank"
              href="https://github.com/masonforest/ampercoin-node">Ampercoin
            node</a> and a <a target="_blank"
          href="https://github.com/masonforest/ampercoin-cli">command line
        client</a> are under development. Please contribute if you are a
      developer. If you are interested in Ampercoin please help fund the project
      by preordering an address.</p>
          </article>
          <article>
            <h2><i class="fa fa-tree"></i>Proof of Plant</h2>
            <p>Blocks are mined via a new algorithm called "Proof of Plant". Ampercoins are planted and can be harvested for more Ampercoins at a later date.</p>
          </article>
      </section>
    </div>
  </div>
